{% load i18n widget_tweaks %}
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <form action="{% url 'alvos:adicionar_alvo' %}" method="post" id="adicionar-alvo" class="form">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title">Adicionar Alvo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form.media }}
                {% for field in form.visible_fields %}
                <fieldset class="form-group">
                    {{ field.label_tag }}
                    {{ field|attr:"class:form-control" }}
                </fieldset>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary">Adicionar</button>
            </div>
        </form>
    </div>
</div>
